{% extends "action.twig" %}

{% block action_body %}
    <div class="take-action__b">

        <div id="mc_embed_signup" data-module='{"name": "action:subscribe"}'>
            <form action="" method="post" name="mc-embedded-subscribe-form" class="mc-form validate" target="_blank" novalidate>
                <div class="mc-field-group">
                    <div class="form-element">
                        <input type="email" value="" placeholder="Enter your email address" name="EMAIL" class="required email text-input" id="mc-email">
                        <input type="hidden" name="listid" value="{{ post.call_to_action.mailchimp_id }}">
                        <label for="mc-email" class="mc-email-status"></label>
                    </div>
                </div>

                <div class="cf">
                    <input type="submit" value="{{ post.call_to_action.pledge_button }}" name="subscribe" id="mc-embedded-subscribe" class="btn btn--solid" data-modal-disable="{{ modal_joinus_subscribe_expiration }}">
                </div>
            </form>
        </div>

    </div>    
    
    <div class="take-action__a">
        <p>{{ post.call_to_action.description }}</p>
        <small>{{ take_action_privacy_policy_text }}</small>
    </div>

{% endblock %}
