{% extends "action.twig" %}

{% block action_body %}
    <div class="take-action__b">
        <p>{{ post.call_to_action.description }}</p>
        <a href="{{ post.call_to_action.external_link }}" class="btn btn--solid btn--external icon icon_external take-action__submit" target="_blank">{{ post.call_to_action.external_link_text }}</a>
    </div>
    
	<div class="take-action__a">
        <img src="{{ post.call_to_action.image.url|resize(256) }}" class="take-action__img" alt="{{ post.call_to_action.image._wp_attachment_image_alt }}">
    </div>
{% endblock %}
