<div class="sticky-take-action">
    <div class="indicator indicator--red indicator--take-action icon icon_{{ post.call_to_action.icon }}"></div>

    <h4 class="hd-e sticky-take-action__heading">{{ post.call_to_action.tout_heading }}</h4>
    <span class="sticky-take-action__action">{{ post.call_to_action.tout_sub_heading }}</span>

    <a href="#" class="btn btn--take-action" data-modal-target="take-action" data-modal-disable="{{ modal_joinus_close_expiration }}">{{ take_action_header_text }}</a>
</div>
