{% extends "archive.twig" %}

{% block header %}

    <div class="hero hero--archive hero--author">
        <div class="container">
            <div class="author__a">
                {% if author.mug_shot is not empty %}
                <img src="{{ author.mug_shot.url|resize(134,134) }}" class="author__portrait" alt="{{ author.mug_shot._wp_attachment_image_alt }}">
                {% else %}
                <img src="{{ theme_dir }}/img/placeholder.jpg" class="author__portrait" alt="Author Placeholder Image">
                {% endif %}
                <div class="author__contact">
                    <a href="{{ author.user_url }}" class="author__url">{{ author.user_url }}</a>

                    <ul class="social author__social author__social--page">
                        {% if author.facebook_username is not empty %}
                            <li><a href="http://www.facebook.com/{{ author.facebook_username }}" class="btn icon icon_facebook" target="_blank"></a></li>
                        {% endif %}
                        {% if author.twitter_username is not empty %}
                            <li><a href="http://www.twitter.com/{{ author.twitter_username }}" class="btn icon icon_twitter" target="_blank"></a></li>
                        {% endif %}
                        {% if author.tumblr is not empty %}
                            <li><a href="{{ author.tumblr }}" class="btn icon icon_tumblr" target="_blank"></a></li>
                        {% endif %}
                        {% if author.instagram is not empty %}
                            <li><a href="http://instagram.com/{{ author.instagram }}" class="btn icon icon_instagram" target="_blank"></a></li>
                        {% endif %}
                        {% if author.google is not empty %}
                            <li><a href="{{ author.google }}" class="btn icon icon_google-plus" target="_blank"></a></li>
                        {% endif %}
                        {% if author.email_display is not empty %}
                            <li><a href="mailto:{{ author.email_display }}" class="btn icon icon_envelope" target="_blank"></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="author__b">
                <div class="author__count">{{ author.post_count }} {{ author.post_count == '1'? "Story" : "Stories" }} by</div>
                <div class="author__name hd-q">{{ author.first_name }} {{ author.last_name }}</div>

                <p class="author__bio">{{ author.description }}</p>
            </div>
        </div>
    </div>

{% endblock %}