<div class="module module--list module--{{ position }} related-stories">
    <h3 class="hd-g module__heading">Related Stories</h3>

    <ul class="story-list cf {{ class }}">
        {% for  post in related_posts %}
            <li>
                <article class="story story--link">
                    <a href="{{ post.permalink }}" class="link-wrapper">
                        <header class="story__header">
                            <h4 class="hd-h story__hed">{{ post.post_title }}</h4>
                            <span class="byline">by {{ post.author }}</span>
                        </header>
                    </a>
                </article>
            </li>
        {% endfor %}
    </ul>
</div>