<meta charset="{{ bloginfo('charset') }}"/>
<script type='text/javascript'>var _sf_startpt=(new Date()).getTime()</script>

<title>{{ ns_wp_title }}</title>

<meta name="description" content="{{ bloginfo('description') }}">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

{#<meta property="fb:app_id" content="283384575022710"/>#}

{% for user in facebook_admin %}
<meta property="fb:admins" content="{{ user.facebook_user_id }}"/>
{% endfor %}

{% if post %}
<meta property="article:publisher" content="https://www.facebook.com/nationswell" />
    {% if post.thumbnail %}
    <meta property="newsletter_img" content="{{ post.thumbnail.src|resize(500, 500) }}"/>
    {% endif %}
{%  endif %}

<link href='http://fonts.googleapis.com/css?family=Gudea:400,700,400italic|Montserrat:400,700|Noto+Serif:400,700'
      rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ stylesheet_uri }}?031633" type="text/css" media="screen"/>

<link rel="stylesheet" type="text/css" media="screen and (max-width: 767px), screen and (max-width: 1080px) and (-webkit-min-device-pixel-ratio: 3)" href="{{ static_dir }}/css/mobile.css"/>
<link rel="stylesheet" type="text/css" media="screen and (min-width: 768px)" href="{{ static_dir }}/css/desktop.css?201601233433"/>
<link rel="stylesheet" type="text/css" media="screen and (min-width: 768px) and (max-width: 1279px)" href="{{ static_dir }}/css/desktop-small.css"/>
<link rel="stylesheet" type="text/css" media="screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-max-device-pixel-ratio: 1)" href="{{ static_dir }}/css/tablet.css"/>
<link rel="stylesheet" type="text/css" media="screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2)" href="{{ static_dir }}/css/tablet-retina.css"/>
<link rel="stylesheet" type="text/css" media="print" href="{{ static_dir }}/css/print.css"  />

<!--[if lt IE 9]>
<script>
var e = ("abbr,article,aside,audio,canvas,datalist,details," +
"figure,footer,header,hgroup,mark,menu,meter,nav,output," +
"progress,section,time,video").split(',');
for (var i = 0; i < e.length; i++) {
document.createElement(e[i]);
}
</script>

<link rel="stylesheet" type="text/css" media="screen" href="{{ static_dir }}/css/ie.css"/>
<![endif]-->

<!--[if lte IE 9]>
<link rel="stylesheet" type="text/css" media="screen and (min-width: 768px)" href="{{ static_dir }}/css/desktop.css?{{ version }}"/>
<link rel="stylesheet" type="text/css" media="screen" href="{{ static_dir }}/css/ie9.css?{{ version }}"/>
<![endif]-->

<script src="{{ static_dir }}/js/src/vendor/modernizr.custom.82279.js"></script>

<link rel="pingback" href="{{ bloginfo('pingback_url') }}"/>
<link rel="shortcut icon" href="{{ theme_dir }}/favicon.ico" />
<link rel="apple-touch-icon" href="{{ static_dir }}/apple-touch-icon-precomposed.png">
<link href="https://plus.google.com/+nationswell" rel="publisher" />

{{ wp_head }}
