{% extends "base.twig" %}

{% block content %}
    {% if featured is not empty %}
    <div class="hero hero--homepage hero--grid mobile-carousel mobile-carousel--single" data-module='{"name": "featured"}'>
        {% for post in featured %}
            <div class="hero__entry hero__entry--{{ loop.index }}" style="background-image: url({% if post.post_type == "ns_series" %} {{ TimberImage(post.header_image)|resize(1300,600,'center') }} {% else %} {{ post.thumbnail.src|resize(1300,600, 'left') }} {% endif %});">
                    {% if post.content_type in ['video'] %}
                        <div class="type-indicator-container">
                            <span class="icon icon_{{ post.content_type }} type-indicator"></span>
                        </div>
                    {% endif %}

                    <article class="story story--hero z1">
                        <h1 class="hd-{{ loop.index == 1 ? 'a' : 'b' }} story__hed"><a href="{{ post.permalink }}" class="link-wrapper" data-track='{"position": {{ loop.index }}}'>{{ post.post_title }}</a></h1>
                        {% include 'sponsorship-tout.twig' %}

                        {% if post.call_to_action is not empty and post.call_to_action.show_action_stats_on_tout != '0' %}
                            {% include ['action-stats-'~post.call_to_action.type~'.twig', 'action-stats.twig'] %}
                        {% endif %}

                        {% if loop.index == 1 and post.thumbnail.credit is not empty %}
                            <span class="credit">{{ post.thumbnail.credit }}</span>
                        {% endif %}

                        {% if post.show_dek_on_feature_tease != false %}
                            <span class="story_dek">{{ post.tout_dek_text }}</span>
                        {% endif %}
                    </article>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    <div class="river river--one-col">
        <div class="container container--flex">
            <ul class="story-teases">
                {% for post in posts|slice(0, 3) %}
                    <li class="cf">{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}</li>
                {% endfor %}
            </ul>

            <div class="sidebar">
                {{ sidebar_homepage_1 }}
            </div>
        </div>
    </div>

    {% if series_carousel is not empty %}

        {% include 'carousel-series.twig'  with {'module_name': 'carousel:series' } %}

    {% elseif stories_carousel_b is not empty %}

        {% include 'carousel-stories.twig' with {'module_name': 'carousel:carousel-1', 'stories_carousel': stories_carousel_b} only %}

    {% endif %}

    <div class="river river--one-col">
        <div class="container container--flex">
            <ul class="story-teases">
                {% for post in posts|slice(3, 3) %}
                    <li class="cf">{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}</li>
                {% endfor %}
            </ul>

            <div class="sidebar">
                {{ sidebar_homepage_2 }}
            </div>
        </div>
    </div>

    {% if stories_carousel is not empty %}
        {% include 'carousel-stories.twig' with {'module_name': 'carousel:stories-2' } %}
    {% endif %}

    <div class="river river--one-col">
        <div class="container container--flex">
            <ul class="story-teases">
                {% for post in posts|slice(6) %}
                    <li class="cf">{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}</li>
                {% endfor %}
            </ul>

            <div class="sidebar">
                {{ sidebar_homepage_3 }}
            </div>
        </div>
    </div>

    {% include 'more-button.twig' with {'module_name': 'home' } %}

{% endblock %}