<div class="full-header no-swipe" data-module='{"name": "nav"}'>
    <header id="page-header">
        <div class="container">
            <a href="/" class="site-logo site-logo--slogan fl">
                <img class="site-logo--light" src="{{ theme_dir }}/img/site-logo-launch.png" alt="NationSwell Logo"/>
                <img class="site-logo--dark" src="{{ theme_dir }}/img/site-logo-dark.png" alt="NationSwell Logo Dark"/>
                <span class="slogan hide_mobile">{{ site_tag_line }}</span>
            </a>

            <a href="#" class="toggle-collapse more-stories-toggle icon icon_hamburger fr" data-mobile-target="body" data-desktop-target="#more-stories"></a>

            <ul class="social-links fr hide_mobile">
                <li><a href="{{ nationswell_facebook }}" target="_blank" data-track='{"label": "facebook"}' class="icon icon_facebook social-links__link" target="_blank"></a></li>
                <li><a href="{{ nationswell_twitter }}" target="_blank" data-track='{"label": "twitter"}' class="icon icon_twitter social-links__link" target="_blank"></a></li>
            </ul>

            <form action="/" method="post" class="mc-form validate fr hide_mobile" novalidate>
                <ul id="page-subscribe" class="expand-field">
                    <li><label for="nav-email-input" id="status-label" class="mc-email-status"></label></li>
                    <li><input type="hidden" name="listid" value="" data-modal-disable="{{ modal_joinus_subscribe_expiration }}"></li>
                    <li><label for="nav-subscribe" class="icon icon_envelope z1" id="nav-envelope"></label></li>
                    <li>
                        <input type="email" name="EMAIL" id="nav-subscribe" placeholder="{{ nav_subscribe_placeholder_text }}" class="required email text-input" autocomplete="off"/>
                        <button class="btn-nav-subscribe" type="submit">Subscribe</button>
                    </li>
                </ul>
            </form>

            <form action="/" method="get" class="fr hide_mobile">
                <ul id="page-search" class="expand-field">
                    <li><label for="nav-search" class="icon icon_search z1"></label></li>
                    <li><input type="text" id="nav-search" placeholder="{{ nav_search_placeholder_text }}" name="s"></li>
                </ul>
            </form>
        </div>
    </header>

    <div id="more-stories" class="collapse z2 hide_mobile">
        <div class="container">
            <ul class="category-list" data-module='{"name": "nav:categories"}'>
                {% for item in menu_main.get_items %}
                    <li><a class="category-list__category" href="{{item.get_path}}" data-track='{"position": {{ loop.index }}, '>{{item.title}}</a></li>
                {% endfor %}
            </ul>

            <div class="most-popular">
                <header class="cf">
                    <h3 class="hd-g more-stories__heading fl">{{ (main_menu_header is not empty) ? main_menu_header : menu_main_menu.name }}</h3>
                    {#<a href="#" class="btn btn--view-all fr icon icon_arrow-right">View all environment</a>#}
                </header>

                <ul class="most-popular-list cf">
                    {% for post in menu_main_stories %}<li>
                        <article class="story story--tease">
                            <a href="{{ post.permalink }}" class="link-wrapper">
                                <figure class="story__feature">
                                    <img src="{{ post.thumbnail.src|resize(748, 421) }}" alt="{{ post.thumbnail._wp_attachment_image_alt }}"/>
                                </figure>

                                <header class="story__header">
                                    <span class="rubric">{{ post.category }}</span>
                                    <h2 class="hd-i story__hed">{{ post.title }}</h2>
                                </header>
                            </a>
                        </article></li>{% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% if post.authors is not empty %}
	    <div class="story__sticky-mobile hide_desktop">
	
	    	{% if post.call_to_action is not empty %}
	    		<style>
	    		.story__sticky-mobile ul li
	    		{
	    			width:25%;
	    		}
	    		</style>
	    	{% else %}
	    		<style>
	    		.story__sticky-mobile ul li
	    		{
	    			width:33.3%;
	    		}
	    		</style>
	    	{% endif %}
	    
	        	<ul>
	                <li><a href="{{ post.facebook_share_url }}" class="btn btn--nav btn--facebook btn--share icon icon_facebook" data-track='{"action": "facebook"}'>{{ facebook_button_bingo_text }}</a></li>
	                <li><a href="{{ post.twitter_share_url }}" class="btn btn--nav btn--twitter btn--share icon icon_twitter"  data-track='{"action": "twitter"}'>{{ twitter_button_bingo_text }}</a></li>
	                 <li><a class="btn btn--nav btn--email icon icon_envelope" href="mailto:?subject={{ post.post_title }}&body={{ post.dek }}%0D%0A%0D%0A{{ post.permalink }}
	                 %0D%0A%0D%0AMeet the people renewing America at NationSwell. Sign up for more stories here:%0D%0Ahttp://www.nationswell.com/daily-newsletter-signup/">Email</a></li>   
	                
	    	{% if post.call_to_action is not empty %}
	                <li><a href="#" class="btn btn--nav btn--sticky-take-action-mobile icon icon_nationswell-flag" data-modal-target="take-action" data-modal-disable="{{ modal_joinus_close_expiration }}">{{ take_action_header_text }}</a></li>
	                {% endif %}
	            </ul>
	    </div>
	 {% endif %}
</div>
