{% verbatim %}

<div id="nsc-directory" ng-controller="directoryController as directory" ng-show="portal.isSet(0)">

    <div id="directory-nav">
        <div class="member-title"><h1>Members</h1></div>
        <div id="directory-tabs">
            <ul>
                <li ng-class="{ active:directory.isSet(0) }"><a href ng-click="directory.setTab(0)">ALL</a></li>
                <li ng-class="{ active:directory.isSet(1) }"><a href ng-click="directory.setTab(1)">A-E</a></li>
                <li ng-class="{ active:directory.isSet(2) }"><a href ng-click="directory.setTab(2)">F-J</a></li>
                <li ng-class="{ active:directory.isSet(3) }"><a href ng-click="directory.setTab(3)">K-O</a></li>
                <li ng-class="{ active:directory.isSet(4) }"><a href ng-click="directory.setTab(4)">P-T</a></li>
                <li ng-class="{ active:directory.isSet(5) }"><a href ng-click="directory.setTab(5)">U-Z</a></li>
            </ul>
        </div>
    </div>
    <div class="contacts" ng-show="directory.isSet(0)">
        <ul>
            <li ng-repeat="contact in allContacts">
                <div class="contact-info">
                    <div class="contact-image"><img ng-src="{{ contact.image.sizes.thumbnail }}" class="contact__portrait"><h1 class="hd-n">{{ contact.name }}</h1></div>
                    <div class="about-contact">
                        <h1 class="hd-n">{{ contact.name }}</h1>
                        <div class="contact-social">
                            <a class="contact-linkedin icon icon_linkedin" ng-show="contact.linkedin.length > 0" ng-href="{{ contact.linkedin }}" target="_blank"></a>
                            <div class="contact-twitter icon icon_twitter" ng-show="contact.twitter.length > 0">{{ contact.twitter }}</div>
                            <div class="contact-phone icon icon_mobile" ng-show="contact.phone.length > 0">{{ contact.phone }}</div>
                        </div>
                        <div class="bio-content" ng-bind-html="contact.bio | sanitize"></div>
                        <div class="contact-interests" ng-show="contact.interests.length > 0">Interests: {{ contact.interests }}</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="contacts" ng-show="directory.isSet(1)">
        <ul>
            <li ng-repeat="contact in AtoE">
                <div class="contact-info">
                    <div class="contact-image"><img ng-src="{{ contact.image.sizes.thumbnail }}" class="contact__portrait"><h1 class="hd-n">{{ contact.name }}</h1></div>
                    <div class="about-contact">
                        <h1 class="hd-n">{{ contact.name }}</h1>
                        <div class="contact-social">
                            <a class="contact-linkedin icon icon_linkedin" ng-show="contact.linkedin.length > 0" ng-href="{{ contact.linkedin }}" target="_blank"></a>
                            <div class="contact-twitter icon icon_twitter" ng-show="contact.twitter.length > 0">{{ contact.twitter }}</div>
                            <div class="contact-phone icon icon_mobile" ng-show="contact.phone.length > 0">{{ contact.phone }}</div>
                        </div>
                        <div class="bio-content" ng-bind-html="contact.bio | sanitize"></div>
                        <div class="contact-interests" ng-show="contact.interests.length > 0">Interests: {{ contact.interests }}</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="contacts" ng-show="directory.isSet(2)">
        <ul>
            <li ng-repeat="contact in FtoJ">
                <div class="contact-info">
                    <div class="contact-image"><img ng-src="{{ contact.image.sizes.thumbnail }}" class="contact__portrait"><h1 class="hd-n">{{ contact.name }}</h1></div>
                    <div class="about-contact">
                        <h1 class="hd-n">{{ contact.name }}</h1>
                        <div class="bio-content" ng-bind-html="contact.bio | sanitize"></div>
                        <div class="contact-interests" ng-show="contact.interests.length > 0">Interests: {{ contact.interests }}</div>
                        <div class="contact-social">
                            <a class="contact-linkedin icon icon_linkedin" ng-show="contact.linkedin.length > 0" ng-href="{{ contact.linkedin }}" target="_blank"></a>
                            <div class="contact-twitter icon icon_twitter" ng-show="contact.twitter.length > 0">{{ contact.twitter }}</div>
                            <div class="contact-phone icon icon_mobile" ng-show="contact.phone.length > 0">{{ contact.phone }}</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="contacts" ng-show="directory.isSet(3)">
        <ul>
            <li ng-repeat="contact in KtoO">
                <div class="contact-info">
                    <div class="contact-image"><img ng-src="{{ contact.image.sizes.thumbnail }}" class="contact__portrait"><h1 class="hd-n">{{ contact.name }}</h1></div>
                    <div class="about-contact">
                        <h1 class="hd-n">{{ contact.name }}</h1>
                        <div class="contact-social">
                            <a class="contact-linkedin icon icon_linkedin" ng-show="contact.linkedin.length > 0" ng-href="{{ contact.linkedin }}" target="_blank"></a>
                            <div class="contact-twitter icon icon_twitter" ng-show="contact.twitter.length > 0">{{ contact.twitter }}</div>
                            <div class="contact-phone icon icon_mobile" ng-show="contact.phone.length > 0">{{ contact.phone }}</div>
                        </div>
                        <div class="bio-content" ng-bind-html="contact.bio | sanitize"></div>
                        <div class="contact-interests" ng-show="contact.interests.length > 0">Interests: {{ contact.interests }}</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="contacts" ng-show="directory.isSet(4)">
        <ul>
            <li ng-repeat="contact in PtoT">
                <div class="contact-info">
                    <div class="contact-image"><img ng-src="{{ contact.image.sizes.thumbnail }}" class="contact__portrait"><h1 class="hd-n">{{ contact.name }}</h1></div>
                    <div class="about-contact">
                        <h1 class="hd-n">{{ contact.name }}</h1>
                        <div class="bio-content" ng-bind-html="contact.bio | sanitize"></div>
                        <div class="contact-interests" ng-show="contact.interests.length > 0">Interests: {{ contact.interests }}</div>
                        <div class="contact-social">
                            <a class="contact-linkedin icon icon_linkedin" ng-show="contact.linkedin.length > 0" ng-href="{{ contact.linkedin }}" target="_blank"></a>
                            <div class="contact-twitter icon icon_twitter" ng-show="contact.twitter.length > 0">{{ contact.twitter }}</div>
                            <div class="contact-phone icon icon_mobile" ng-show="contact.phone.length > 0">{{ contact.phone }}</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="contacts" ng-show="directory.isSet(5)">
        <ul>
            <li ng-repeat="contact in UtoZ">
                <div class="contact-info">
                    <div class="contact-image"><img ng-src="{{ contact.image.sizes.thumbnail }}" class="contact__portrait"><h1 class="hd-n">{{ contact.name }}</h1></div>
                    <div class="about-contact">
                        <h1 class="hd-n">{{ contact.name }}</h1>
                        <div class="contact-social">
                            <a class="contact-linkedin icon icon_linkedin" ng-show="contact.linkedin.length > 0" ng-href="{{ contact.linkedin }}" target="_blank"></a>
                            <div class="contact-twitter icon icon_twitter" ng-show="contact.twitter.length > 0">{{ contact.twitter }}</div>
                            <div class="contact-phone icon icon_mobile" ng-show="contact.phone.length > 0">{{ contact.phone }}</div>
                        </div>
                        <div class="bio-content" ng-bind-html="contact.bio | sanitize"></div>
                        <div class="contact-interests" ng-show="contact.interests.length > 0">Interests: {{ contact.interests }}</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    {% endverbatim %}
    <div class="loader" ng-show="loading"><img src="http://www.mytreedb.com/uploads/mytreedb/loader/ajax_loader_blue_32.gif" /></div>
</div>
