{% extends "base.twig" %}

{% block content %}

    {% block header %}
        <div class="hero hero--archive hero--series{% if series.header_image is empty %} no-image{% endif %}" {% if series.header_image is not empty %}style="background-image: url({{ TimberImage(series.header_image)|resize(1300,600,'center') }})"{% endif %}>

            <div class="container">
                 {% if series.series_enabled %}
                    <div class="indicator indicator--blue indicator--title indicator--text icon icon_series">
                        <h5 class="indicator__heading">Series</h5>
                        <h5 class="indicator__subheading">{{ series.total_posts }} Stories</h5>
                    </div>
                 {% endif %}

                <h2 class="hd-f hero--series__title"><span>{{ series.title }}</span></h2>

                {#<div class="sponsor">Presented by <img src="/{{ theme_dir }}/img/sponsor_gm-dark.png" class="sponsor__logo"/></div>#}
            </div>
        </div>

        {% if series.description is not empty %}
            <div class="container">
                <div class="archive-intro">
                    <div class="archive-share" data-module='{"name": "archive-series"}'>
                        <a href="{{ series.facebook_share_url }}" class="btn btn--facebook btn--share btn--rectangle icon icon_facebook" data-track='{"action": "facebook"}'>{{ facebook_button_bingo_text }}</a>
                        <a href="{{ series.twitter_share_url }}" class="btn btn--twitter btn--share btn--rectangle icon icon_twitter"  data-track='{"action": "twitter"}'>{{ twitter_button_bingo_text }}</a>
                    </div>

                    <div class="archive-description-copy">
                        <p>
                            {{ series.description }}
                        </p>
                    </div>
                </div>
            </div>

        {% endif %}

    {% endblock %}


    <div class="container container--flex">
        <div class="river river--two-col">
            <ul class="story-teases">
                {% for post in posts %}
                    <li>{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="sidebar hide-mobile">
            {{ sidebar_static }}
        </div>
    </div>
    {% include 'more-button.twig' with {'module_name': 'archive' } %}

{% endblock %}