{% extends "base.twig" %}

{% block content %}



    {% if post.hero_type != 'small' %}
    {% include 'hero.twig' %}
    {% endif %}

    
    <div class="story__container">
        <div class="container container--flex">
            <div class="story__sticky hide_mobile">

                <div class="story__sticky-container">
                    <div class="sticky-social" data-module='{"name": "sticky-sidebar"}'>
                        <a href="{{ post.facebook_share_url }}" class="btn btn--facebook2 btn--share btn--circle icon icon_facebook" data-track='{"action": "facebook"}'></a>
                        <a href="{{ post.twitter_share_url }}" class="btn btn--twitter2 btn--share btn--circle icon icon_twitter"  data-track='{"action": "twitter"}'></a>
                    </div>

                    {% if post.call_to_action is not empty %}
                    {% include 'action-sidebar.twig' %}
                    {% endif %}
                </div>
            </div>

            <main class="story__main-column" role="main">
                {% if post.hero_type == 'small' %}
                {% include 'hero.twig' %}
                {% endif %}
                <article class="story story--page" id="story">
                    <header>
                        {#{% if post.story_kind == 'original' %}#}
                        {#<span class="rubric rubric--original">Featured</span>#}
                        {#{% endif %}#}
                        <ul class="story__meta">
                            <li>{{ category_prefix_text }} <a href="{{ post.category.url }}">{{ post.category }}</a>
                            {% if post.ns_series is not empty %}
                                    <a href="{{ post.ns_series.permalink }}">,&nbsp;{{ post.ns_series.post_title }}</a>
                            {% endif %}
                            </li>
                            <li>{{ byline_prefix_text }} {{ post.coauthors_posts_links }} on {{ post.post_date|date('F j, Y') }}</li>
                        </ul>
												
                        <h1 class="hd-j story__hed">{{ post.post_title }}</h1>
                        <h3 class="hd-k story__dek">{{ post.dek }}</h3>

                        {% include 'sponsorship.twig' %}

                    </header>

                    <div class="story__content">
                        {{post.get_content}}

                        {% if post.source.url is not empty %}
                            <p><em>Source:</em> <a href="{{ post.source.url }}" {{ (post.source.internal == 1)? "" : 'target="_blank"' }}>{{ (post.source.title is not empty) ? post.source.title : post.source.url }}</a></p>
                        {% endif %}
                        {% if voting_widget is not empty %}
	                        {% if post.category == "NationSwell AllStars" %}
														{{ voting_widget }}
													{% endif %}
												{% endif %}
                        {% if newsletter_bottom is not empty %}
                            {{ newsletter_bottom }}
                        {% endif %}
                    </div>

                </article>

                {#<div class="story__tags">#}
                    {#<ul class="tags-list">#}
                        {#{% for category in post.categories %}#}
                            {#<li><a href="{{ category.link }}" class="tag-tag">{{ category.name }}</a></li>#}
                    {#{%  endfor %}#}
                    {#</ul>#}
                {#</div>#}

                {% if post.call_to_action is not empty %}
                    {% include ['action-'~post.call_to_action.type~'.twig', 'empty.twig'] %}
                {% endif %}

                <div class="story__social cf hide_mobile" data-module='{"name": "story:social"}'>
                    <a href="{{ post.facebook_share_url }}" class="btn btn--bar btn--share btn--facebook icon icon_facebook" data-track='{"action": "facebook"}'>{{ facebook_button_expanded_text }}</a>
                    <a href="{{ post.twitter_share_url }}" class="btn btn--bar btn--share btn--twitter icon icon_twitter" data-track='{"action": "twitter"}'>{{ twitter_button_expanded_text }}</a>
                </div>
                
                <div id="pubexchange_below"></div>
                
                {% for author in post.authors %}
                    {% include 'author-box.twig' %}
                {% endfor %}

                {% include('comments.twig') %}

                <ul class="prev-next cf" data-module='{"name": "next-prev"}'>
                    {% if post.next is not empty %}
                        <li>
                            <article class="story story--link">
                                <a href="{{ post.prev.permalink }}" class="link-wrapper" data-track='{"action": "previous"}'>
                                    <div class="prev-next__link prev-next__link--prev cf">
                                        <span class="icon icon_arrow-circle-left fl"></span> Previous Story
                                    </div>
                                    <h4 class="hd-o story__hed">{{ post.prev.post_title }}</h4>
                                </a>
                            </article>
                        </li>
                    {%  endif %}
                    {% if post.next is not empty %}
                        <li>
                            <article class="story story--link">
                                <a href="{{ post.next.permalink }}" class="link-wrapper" data-track='{"action": "next"}'>
                                    <div class="prev-next__link prev-next__link--next cf">
                                        <span class="icon icon_arrow-circle-right fr"></span> Next Story
                                    </div>
                                    <h4 class="hd-o story__hed">{{ post.next.post_title }}</h4>
                                </a>
                            </article>
                        </li>
                    {%  endif %}
                </ul>
            </main>

            <div class="sidebar">
                {{ sidebar_story }}
            </div>
        </div>
    </div>

    {% if post.more_stories is not empty %}
    {% include 'more-stories.twig' %}
    {% endif %}

    {% if(flyout_social_enabled) %}
    {% include 'flyout.twig' %}
    {% endif %}

{% endblock %}

{% block modals %}
    {% include('modal-action.twig') %}
    {{ parent() }}
{% endblock %}

{% block extra_includes %}
<!-- Please call pinit.js only once per page -->
<script type="text/javascript" async  data-pin-color="red" data-pin-height="28" data-pin-hover="true" src="//assets.pinterest.com/js/pinit.js"></script>
{% endblock %}
