<div class="module module--list popular-stories module--sidebar" data-module='{"name": "sidebar:{{ header|lower|replace({' ': '-', "'": "", '"': ''}) }}"}'>
    <h3 class="hd-g module__heading">{{ header }}</h3>

    <ul class="story-list cf {{ class }}">
        {% for  post in posts %}
            <li>
                <article class="story story--link">
                    <a href="{{ post.permalink }}" class="link-wrapper cf" data-track='{"position": {{ loop.index }}}'>
                        {% if show_image is not empty %}
                            {% if post.thumbnail is not empty and show_image == '1' %}
                                <figure class="story__feature">
                                    <img src="{{ post.thumbnail.src|resize(748, 421) }}" alt="{{ post.thumbnail._wp_attachment_image_alt }}"/>
                                </figure>
                            {% endif %}
                        {% endif %}

                        <header class="story__header">
                            <h4 class="hd-h story__hed">{{ post.post_title }}</h4>
                        </header>
                    </a>
                </article>
            </li>
        {% endfor %}
    </ul>
</div>