<div class="module module--bg module--sidebar module--blue join-us">
    <header>
        <div class="indicator indicator--blue indicator--module icon icon_nationswell-flag"></div>
        <h3 class="hd-e module__heading">{{ title }}</h3>
    </header>

    <p>{{ description }}</p>

    <span class="btn btn--bar btn--facebook icon icon_facebook"><div class="fb-like" data-href="{{ facebook }}" data-width="47" data-layout="button" data-action="like" data-show-faces="false" data-share="false" data-ref="sidebar" data-module='{"name": "sidebar:facebook"}'></div></span>
    <span class="btn btn--bar btn--twitter icon icon_twitter" data-module='{"name": "sidebar:twitter"}'>
        <a href="{{ twitter }}" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @nationswell</a>
    </span>
    <a class="btn btn--bar btn--youtube icon icon_youtube" data-module='{"name": "sidebar:youtube"}' href="{{ youtube_url }}" target="_blank">{{ youtube_copy }}</a>
</div>